body {
  height: 98vh;
  width: 99vw;
  background-color: rgb(245,245,220);
  color: rgb(0,0,0);
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

#header {
  grid-column: 1/6;
  grid-row: 1/2;
  border-width: 4px;
  border-style: solid;
  text-align: center;  
  border-width: 4px;
  padding-right: 20px;
}

#table {
  grid-column: 1/6;
  grid-row: 2/5;
  border-width: 0px 4px 0px 4px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 500px;
  height: 500px;
  border-collapse: collapse;
}

td {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0,0,0);
  background-color: rgb(255,255,255);
}

#addendum {
  grid-column: 1/6;
  grid-row: 5/6;
  border-width: 4px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 20px;
}
